:root{
  --Background-color: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #fcfc60);
  --Background-color-reverse: linear-gradient(45deg, #fcfc60, #ffc75f, #ff9671, #ff6f91, #d65db1, #845ec2);
  --Foreground-color: blue;
  --primary-text-color: black;
  --secondary-text-color: white;
  --toggle-bg: rgb(252, 252, 227);
  --toggle-fg: yellow;
}

#sandbox-container{
  height: 200px;
  width: 200px;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}


[data-theme="dark"]{
  --Background-color: black;
  --Foreground-color: rgb(204, 204, 255);
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 0, 0);
  --toggle-bg: rgb(21, 40, 150);
  --toggle-fg: rgb(0, 153, 255);
}


#main-project-container{
  background-color: grey;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: var(--Background-color);
  background-size: 300%;
  background-position: left;
  animation: bg-animation 35s infinite alternate;
  position: relative;
}

@keyframes bg-animation {
  0% {background-position: left}
  100% {background-position: right;}
}

@keyframes bg-animation-reverse {
  0% {background-position: right}
  100% {background-position: left;}
}

.intro-text{
  font-size: 4vw;
}

#intro-container{
  text-align: center;
  align-content: center;
  min-height: 10vh;
  max-height: 80vh;
  height: 50vh;
}



.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

#navbar-container{
  font-size: 2vw;
  width: 100%;
  align-items: center;
  z-index: 99999;
}

#navbar-links{
  background-image: var(--Background-color-reverse);
  background-size: 300%;
  background-position: right;
  animation: bg-animation-reverse 3s infinite alternate;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 6vh;
  z-index: 99999;
}

#navbar-links li{
  padding-right: 100px;
  color: black;
}

#navbar-links li:hover{
  color: white;
}

#about-container{
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
  min-height: 10vh;
  max-height: 40vh;
  padding-bottom: 20vw;
}

#about-content-container{
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.about-column{
  flex: 1;
}

.about-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-right-image-container {
  position: relative;
  width: 40vw; /* Adjust as needed */
  height: 50vw; /* Adjust as needed */
  padding-right: 5vw;

}

.about-right-image-container img {
  position: absolute;
  width: 10vw; /* Adjust the width of the images as needed */
  height: 10vw; /* Adjust the height of the images as needed */
  top: 50%; /* Position at the center vertically */
  left: 50%; /* Position at the center horizontally */
  transform: translate(-50%, -50%); /* Center the images */
  border-radius: 50%; /* Make the images circular */
  max-width: 200px;
  max-height: 200px;
}

#about-left{
  padding-left: 5vw;
}


.about-right-image-container img:nth-child(1) {
  /* Initial position */
  transform: translate(-50%, -50%) rotate(0deg) translate(18vw) rotate(0deg);
  /* Assuming the initial position is translated 18vw from the center */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust other properties as needed */
  transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */
}
.about-right-image-container img:nth-child(1):hover {
  /* Translated position on hover */
  transform: translate(-50%, -50%);
}


.about-right-image-container img:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg) translate(18vw) rotate(-45deg);
  /* Assuming the initial position is translated 18vw from the center */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust other properties as needed */
  transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */
}
.about-right-image-container img:nth-child(2):hover {
  /* Translated position on hover */
  transform: translate(-50%, -50%);
}
.about-right-image-container img:nth-child(3) {
  transform: translate(-50%, -50%) rotate(90deg) translate(18vw) rotate(-90deg);
  /* Assuming the initial position is translated 18vw from the center */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust other properties as needed */
  transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */
}
.about-right-image-container img:nth-child(3):hover {
  /* Translated position on hover */
  transform: translate(-50%, -50%);
}

.about-right-image-container img:nth-child(4) {
  transform: translate(-50%, -50%) rotate(135deg) translate(18vw) rotate(-135deg);
  /* Assuming the initial position is translated 18vw from the center */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust other properties as needed */
  transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */
}
.about-right-image-container img:nth-child(4):hover {
  /* Translated position on hover */
  transform: translate(-50%, -50%);
}

.about-right-image-container img:nth-child(5) {
  transform: translate(-50%, -50%) rotate(180deg) translate(18vw) rotate(-180deg);
  /* Assuming the initial position is translated 18vw from the center */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust other properties as needed */
  transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */
}
.about-right-image-container img:nth-child(5):hover {
  /* Translated position on hover */
  transform: translate(-50%, -50%);
}

.about-right-image-container img:nth-child(6) {
  transform: translate(-50%, -50%) rotate(225deg) translate(18vw) rotate(-225deg);
  /* Assuming the initial position is translated 18vw from the center */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust other properties as needed */
  transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */
}
.about-right-image-container img:nth-child(6):hover {
  /* Translated position on hover */
  transform: translate(-50%, -50%);
}

.about-right-image-container img:nth-child(7) {
  transform: translate(-50%, -50%) rotate(270deg) translate(18vw) rotate(-270deg);
  /* Assuming the initial position is translated 18vw from the center */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust other properties as needed */
  transition: transform 0.5s ease; /* Smooth transition over 0.5 seconds */
}
.about-right-image-container img:nth-child(7):hover {
  /* Translated position on hover */
  transform: translate(-50%, -50%);
}




#about-right-content, img{
  height: 20vw;
  width: 10vw;
}

#about-left{
  display: flex;
  flex-direction: column;
}

#profile-pic{
  height: 400px;
  width: 400px;
  background-color: blue;
}

#profile-bio{
  max-width: 40vh;
  max-height: 40vh;
}

#projects-container{
  margin-top: 5vh;
  text-align: center;
}



#prj-one-underline{
  height: 50px;
  width: 55vw;
  background-color: green;
  max-width: 55vw;
}

#project-two{
  background-color: orange;
  height: 15vh;
}

#project-three{
  background-color: aqua;
  height: 15vh;
}

#project-four{
  background-color: orange;
  height: 15vh;
}

#contact-container{
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
}

input{
  width: 30vh;
}

#contact-name, #contact-email{
  min-height: 2.5vh;
  height: 2.5vh;
}

#contact-message{
  min-height: 13vh;
  height: 13vh;
}

.contact-me-input{
  text-align: center;
}

#footer-container{
  margin-top: 5vh;
  background-color: beige;
  text-align: center;
}

