.form-container {
  text-align: center;
  
}

select, input[type="range"], input[type="date"] {
    margin-bottom: 10px;
}

form label{
  padding-left: 50px;
}


#projectContainer{
  padding: 20px 20px 20px 20px;
}

#projectGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projectCard{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#checkMark{
  width: 40px;
}

#completion{
  color: green;
}

#userForm{
  background-color: rgb(207, 207, 207)
}

.clicked {
  background-color: #0073ff; 
}

#filter-buttons{
  font-size: x-large;
}

#filter-buttons button{
  margin-top: 20px;
}

#sortByComplete{
  margin-right: 15px;
}

#sss{
  margin-right: 20px;
}

#projectContainer, #projectGrid{
  justify-content: center;
  align-content: center;

  
  max-height: 35%;
  
}

#learnMore{
  display: flex;
  flex-direction: column;
  
}