.navbar{
    background-color: rgb(106, 106, 106);
}

#nav-content {
    display: flex;
    font-size: x-large;
    font-weight: bold;
}
  
#nav-links {
    list-style-type: none;
    display: flex; 
    align-items: center;
}
  
#nav-links li {
    margin-right: 25px; 
}
  
#nav-links a {
    text-decoration: none;
    color: rgb(5, 48, 220); 
}
  
#nav-links a:hover {
    text-decoration: underline;
}


#donate-button {
    font-weight: bold;
    background-color: #d44e25; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 500px;

    position: absolute;
    right: 40px; /* Adjust the distance from the right edge of the viewport */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
  }
  
  #donate-button:hover {
    background-color: #0056b3; 
  }


.donation-button-navbar{
    font-weight: bold;
    background-color: #d44e25; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
    min-height: 40px;
  }

.donation-button-navbar:hover {
    background-color: #0056b3; 
}

.submit-donation-navbar{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #d44e25; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-donation-navbar:hover {
    background-color: #0056b3; 
}
